services:
  dev:
    image: mcr.microsoft.com/devcontainers/javascript-node:0-18-bullseye
    container_name: test_dev
    volumes:
    #   # Bump version here and in volumes if new image requires new db.
    #   - farmos3_db_fd2.1:/workspaces/FarmData2/docker/db
      - /var/run/docker.sock:/var/run/docker.sock
      - ..:/workspaces/NginxRevProxySidecarTest:cached
    command: sleep infinity

  farmos:
    image: httpd:latest
    container_name: web_server
    volumes:
       - ../site/:/usr/local/apache2/htdocs/
    restart: always

  proxy:
    image: nginx
    container_name: rev_proxy
    ports:
      - '443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - './ssl:/etc/nginx/ssl'
    restart: always